nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-top: 5px;
    padding: 5px;
}
nav li:hover{
    background: #a5099d;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li:hover a{
    color: white;
}